@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.wrapper {
  /* background: rgba(0, 0, 0, 0.1); */
  width: calc(100vw - 100px);
  max-width: 600px;
  min-width: 400px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.win-message {
  position: absolute;
  top: -50px;
  font-size: 2em;
}

.title-box {
  font-size: 2em;
  font-weight: bold;
}

.info-controls-box{
  display: flex;
}

.info-controls-box > div {
  margin: 4px;
}

.button {
  color: white;
  text-shadow: 0 0 2px black;
  font-weight: bold;
  cursor: pointer;
  background-color: #c6df76;
  border: none;
  border-radius: 5px;
  padding: 3px 10px;
}

.game-box {
  background-color: #f8e6cb;
  width: 100%;
  padding: 3%;
  border-radius: 10px;
}

.card {
  display: inline-block;
  margin: .4%;
  border-radius: 4px;
  /* overflow: hidden; */
  /* background-color: rgba(14, 44, 47, 0.67); */
  background-color: #5193b3;
  cursor: pointer;
}

.opened-picture {
  width: 70%;
  height: 70%;
  margin: 15%;
  transition: all 0.4s ease-in-out;
  backface-visibility: hidden;
  transform: rotate3d(0,1,0,0deg);
}

.closed-picture {
  width: 70%;
  height: 70%;
  margin: 15%;
  backface-visibility: hidden;
  transform: rotate3d(0,1,0,180deg);
  transition: all 0.4s ease-in-out;
}

.mode-button {
  color: white;
  text-shadow: 0 0 2px black;
  font-weight: bold;
  cursor: pointer;
  margin: 2px;
  background-color: #c6df76;
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
}

.mode-button:hover {
  background-color: #ffe3b3
}

.mode-button:disabled {
  background-color: #ffe3b3
}

.hardcore-button-on {
  color: white;
  text-shadow: 0 0 2px black;
  font-weight: bold;
  cursor: pointer;
  margin: 2px;
  background-color: rgb(246, 34, 34);
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
}

.hardcore-button-off {
  color: white;
  text-shadow: 0 0 2px black;
  font-weight: bold;
  cursor: pointer;
  margin: 2px;
  background-color: rgb(86, 255, 6);
  border: none;
  border-radius: 5px;
  padding: 7px 10px;
}
